################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/1.3/Source/VEE/.vs/
/1.3/Source/VEE/obj/